/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700|Titillium+Web:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800|Quicksand:300,400,500,700');

/* Font Family Rules

font-family: 'Titillium Web', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Montserrat', sans-serif;

*/

*{
    /* outline: 0.5px solid red; */
}

body{
    margin:0px;
    padding: 5px;
    box-shadow: inset 0px 20px 45px -5px rgba(247, 211, 247, 0.7);
    background-color: #F9F9FD;
}

.header{
    padding:5px;
    display: flex;
    justify-content: space-between;
}

/*
===================================================================================================================
PROODUCTS HOTLINKS
===================================================================================================================
*/

.productBox > ul{
    list-style-type: none;
    display: flex;
}

.productBox > ul > li{
    margin-right:50px;
}

.productBox > ul > li > a{
    font-size:0.92em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color:rgb(190, 191, 202);
    letter-spacing: 2.5px;
    text-decoration: none;
    text-shadow: 0px 5px 13px rgba(208, 192, 223, 0.6);
    transition: all ease-in 250ms;
}

.productBox > ul > li > a:hover{
    color:#0984e3;
    text-shadow: 0px 5px 13px rgba(218, 181, 253, 0.95);
}

/*
===================================================================================================================
LOGO AREA
===================================================================================================================
*/

.logoBox{
    margin:10px;
}

.txtLogo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2.5px;
    color: #0984e3;
}

.txtLogoSlip{
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 2.5px;
    color: #888;
}

.settingsBox{
    font-size:1.1em;
    font-family: 'Titillium Web', sans-serif;
    margin: 10px;
}

.orangeToBluefa{
    color:rgb(190, 191, 202);
    font-size: 1.15em;
    text-shadow: 0px 5px 13px rgba(218, 181, 253, 0.95);
    transition: all ease-in 150ms;
}

.orangeToBluefa:hover{
    color: #0984e3;
}

/*
===================================================================================================================
NOTIFICATION PANEL
===================================================================================================================
*/

.notificationBox {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #F6F7FB;
    box-shadow: inset 7px 0px 45px -15px rgba(250,203,250,0.77);
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
    transition: all 1s;
    
}   

.notificationBox a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.notificationBox a:hover {
    color: #f1f1f1;
}

.notificationBox .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

#notificationItem{
    transition: all ease-out 150ms; 
}



/*
===================================================================================================================
NOTIFICATIONS ITEM
===================================================================================================================
*/

.notificationContent > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* padding:10px; */
    padding-left:0px;
}

.notificationContent > ul > li {
    display:flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(122, 124, 252, 0.1);
    width: 100%;
    min-height:100px;
    border: 1px solid #E1E2E7;
    padding:10px;
    padding-left:0px;
    transition: all ease-in 250ms;
    margin-bottom: -1px;
}

.notificationContent > ul > li:hover {
    box-shadow: 0px 10px 25px rgba(199, 98, 230, 0.2);
}

.notificationIcon{
    width:5px;
    min-height: 50px;
}

.warning{
    background-color:#E1A449;
}

.danger{
    background-color:#E5494C;
}

.notification{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    min-width:80px;
}

.notification > .from{
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    font-weight: light;
    color:rgb(190, 191, 202);
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-bottom:5px;
    transition: all ease 10ms;
}

.notification > .subject{
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:#2B2C2E;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: all ease 10ms;
}

.notification > .content{
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    font-weight: light;
    color:rgb(190, 191, 202);
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-bottom:5px;
    transition: all ease 10ms;
}

.dismissBox{
    font-size: 0.6em;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:rgb(190, 191, 202);
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-bottom:5px; 
}


/*
===================================================================================================================
BUTTONS
===================================================================================================================
*/


.btnHeader{
    margin-left: 20px;
    margin-right: 10px;
}

.btnInvert {
    width: 100px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #2F80FF;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .btnInvert:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }


  .btnBlue {
    width: 100%;
    height: 65px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(to right, #67A2FF 25%, #3A87FF 75%, #2178FF 100%);
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .btnRed:hover {
    box-shadow: 0px 10px 25px rgba(199, 98, 230, 0.2);
    transform: translateY(-1px);
  }


/*
===================================================================================================================
PAGE CONTAINERS STYLES
===================================================================================================================
*/

.page{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:10px;
    margin:25px;
    margin-left: 50px;
    min-height: 50vh; 
}

.containerBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height:100px;
    width:95%;
    background-color: #1975F0;
    box-shadow: 0px 10px 25px rgba(198, 117, 223, 0.45);
}

.containerBlock > img{
    margin:10px;
    margin-right: 50px;
    margin-left: 50px;
    transform: rotate(20deg);
    opacity: 0.4;
    height: 80px;
}

.containerBlock > .message {
    min-width:80%;
}

.containerBlock > .message > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color:white;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.containerBlock > .message > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color:#F9F9FD;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.containerBlock > button{
    margin-right:50px;
    width: 250px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #2F80FF;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .containerBlock > button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }

  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }


  /*
===================================================================================================================
Webkit
===================================================================================================================
*/


  ::-webkit-scrollbar
  {
    width: 6px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-track
  {
    background: #1abc9c; 
  }
  
  ::-webkit-scrollbar-thumb
  {
      background: #34495e;
  }


