/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700|Titillium+Web:300,400,600,700');

/* Font Family Rules 

font-family: 'Titillium Web', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;

*/