/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700|Titillium+Web:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800|Quicksand:300,400,500,700');

/* Font Family Rules

font-family: 'Titillium Web', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Montserrat', sans-serif;

*/
/* 
*{
    outline: 0.5px solid red;
    color:white !important;
    background: white !important;
    box-shadow: none !important;
    text-shadow: none !important;
} */

body{
    margin:0px;
    padding: 5px;
    box-shadow: inset 0px 20px 45px -5px rgba(247, 211, 247, 0.7);
    background-color: #F9F9FD;
}

.header{
    padding:5px;
    display: flex;
    justify-content: space-between;
}

/*
===================================================================================================================
PROODUCTS HOTLINKS
===================================================================================================================
*/

.productBox > ul{
    list-style-type: none;
    display: flex;
}

.productBox > ul > li{
    margin-right:50px;
}

.productBox > ul > li > a{
    font-size:0.92em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color:rgb(190, 191, 202);
    letter-spacing: 2.5px;
    text-decoration: none;
    text-shadow: 0px 5px 13px rgba(208, 192, 223, 0.6);
    transition: all ease-in 250ms;
}

.productBox > ul > li > a:hover{
    color:#0984e3;
    text-shadow: 0px 5px 13px rgba(218, 181, 253, 0.95);
}

/*
===================================================================================================================
LOGO AREA
===================================================================================================================
*/

.logoBox{
    margin:10px;
}

.txtLogo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2.5px;
    color: #0984e3;
}

.txtLogoSlip{
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 2.5px;
    color: #888;
}

.settingsBox{
    font-size:1.1em;
    font-family: 'Titillium Web', sans-serif;
    margin: 10px;
}

.orangeToBluefa{
    color:rgb(190, 191, 202);
    font-size: 1.15em;
    text-shadow: 0px 5px 13px rgba(218, 181, 253, 0.95);
    transition: all ease-in 150ms;
}

.orangeToBluefa:hover{
    color: #0984e3;
}

/*
===================================================================================================================
NOTIFICATION PANEL
===================================================================================================================
*/

.notificationBox {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgba(246, 247, 251, 0.699);
    box-shadow: inset 7px 0px 45px -15px rgba(250,203,250,0.77);
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
    transition: all 250ms;
    
}   

.notificationBox a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 250ms;
}

.notificationBox a:hover {
    color: #f1f1f1;
}

.notificationBox .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

#notificationItem{
    transition: all ease-out 150ms; 
}



/*
===================================================================================================================
NOTIFICATIONS ITEM
===================================================================================================================
*/

.notificationContent > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* padding:10px; */
    padding-left:0px;
}

.notificationContent > ul > li {
    white-space: nowrap;
    display:flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(122, 124, 252, 0.1);
    width: 100%;
    min-height:100px;
    border: 1px solid #E1E2E7;
    padding:10px;
    padding-left:0px;
    transition: all ease-in 250ms;
    margin-bottom: -1px;
    cursor: pointer;
}

.notificationContent > ul > li:hover {
    box-shadow: 0px 10px 25px rgba(199, 98, 230, 0.2);
}

.notificationIcon{
    width:5px;
    min-height: 50px;
}

.warning{
    background-color:#E1A449;
}

.danger{
    background-color:#E5494C;
}

.notification{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    min-width:80px;
}

.notification > .from{
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    font-weight: light;
    color:rgb(190, 191, 202);
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-bottom:5px;
    transition: all ease 10ms;
}

.notification > .subject{
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:#2B2C2E;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: all ease 10ms;
}

.notification > .content{
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    font-weight: light;
    color:rgb(190, 191, 202);
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-bottom:5px;
    transition: all ease 10ms;
}

.dismissBox{
    font-size: 0.6em;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:rgb(190, 191, 202);
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-bottom:5px; 
}


/*
===================================================================================================================
BUTTONS
===================================================================================================================
*/

.btnHeader{
    margin-left: 20px;
    margin-right: 10px;
}

.btnInvert {
    width: 100px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #2F80FF;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .btnInvert:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }

  .btnBlue {
    width: 100%;
    height: 65px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(to right, #67A2FF 25%, #3A87FF 75%, #2178FF 100%);
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .btnRed:hover {
    box-shadow: 0px 10px 25px rgba(199, 98, 230, 0.2);
    transform: translateY(-1px);
  }

  .btnPrimary {
    margin:20px;
    width: 50%;
    height: 50px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #fff;
    background-color: #3A87FF;
    border: none;
    box-shadow: 0px 10px 25px rgba(199, 98, 230, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .btnPrimary:hover {
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transform: translateY(-2px);
  }

  .btnDefault {
    margin:20px;
    width: 50%;
    height: 50px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #67A2FF;
    background-color: #fff;
    border: none;
    box-shadow: 0px 10px 25px rgba(199, 98, 230, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .btnDefault:hover {
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transform: translateY(-2px);
  }



/*
===================================================================================================================
MENUBAR SIDEPANEL
===================================================================================================================
*/

.menubar {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 0px;
    background: #fff;
    overflow-x: hidden;
    padding: 10px 5px 10px 5px;
    color: #2196F3;
    box-shadow: 10px 0px 65px -19px rgba(235,155,235,1);
    border-radius: 0px 50px 50px 0px;
}

.menubar a {
    padding: 10px;
    text-decoration: none;
    font-size: 12.5px;
    color:rgb(190, 191, 202);
    display: block;
    transition: 250ms;
    text-align: center;
}

.menubar a:hover {
    color: #2196F3;
    transform: translateX(5px);
    text-shadow: 0px 5px 13px rgba(218, 181, 253, 0.95);
}


/*
===================================================================================================================
PAGE CONTAINERS STYLES
===================================================================================================================
*/

.page{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:10px;
    margin:25px;
    margin-left: 50px;
    min-height: 50vh; 
}

.blockWelcome{
    display: flex;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height:100px;
    width:95%;
    background: linear-gradient(to right, #1975F0 65%, #5EBEF8 100%);
    box-shadow: 0px 10px 25px rgba(198, 117, 223, 0.45);
}

.blockWelcome > img{
    margin:10px;
    margin-left: 50px;
    transform: rotate(20deg);
    opacity: 0.6;
    height: 60px;
}

.blockWelcome > .message {
    min-width:75%;
    margin-left:25px;
}

.blockWelcome > .message > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color:white;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.blockWelcome > .message > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color:#F9F9FD;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.blockWelcome > button{
    margin-right:25px;
    padding-right:25px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #2F80FF;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .blockWelcome > button:hover {
    transform: translateY(-8px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }

  .blockWelcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height:100px;
    width:95%;
    background: linear-gradient(to right, #1975F0 65%, #5EBEF8 100%);
    box-shadow: 0px 10px 25px rgba(198, 117, 223, 0.45);
}

.blockWelcome > img{
    margin:10px;
    margin-left: 50px;
    transform: rotate(20deg);
    opacity: 0.6;
    height: 60px;
}

.blockWelcome > .message {
    min-width:75%;
    margin-left:25px;
}

.blockWelcome > .message > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color:white;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.blockWelcome > .message > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color:#F9F9FD;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.blockWelcome > button{
    margin-right:25px;
    padding-right:25px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #2F80FF;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .blockWelcome > button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }

/* Container Block Success */

.blockWarning{
    display: flex;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height:100px;
    width:95%;
    background: linear-gradient(to right, #F57148 65%, #FEAB89 100%);
    box-shadow: 0px 10px 25px rgba(198, 117, 223, 0.45);
}

.blockWarning > img{
    margin:10px;
    margin-left: 50px;
    opacity: 0.6;
    height: 60px;
}

.blockWarning > .message {
    min-width:75%;
    margin-left:25px;
}

.blockWarning > .message > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color:white;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.blockWarning > .message > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color:#F9F9FD;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.blockWarning > button{
    margin-right:25px;
    padding-right:25px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #F57148;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .blockWarning > button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }



  .blockSuccess{
    display: flex;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height:100px;
    width:95%;
    background: linear-gradient(to right, #F57148 65%, #FEAB89 100%);
    box-shadow: 0px 10px 25px rgba(198, 117, 223, 0.45);
}

.blockSuccess > img{
    margin:10px;
    margin-left: 50px;
    opacity: 0.6;
    height: 60px;
}

.blockSuccess > .message {
    min-width:75%;
    margin-left:25px;
}

.blockSuccess > .message > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color:white;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.blockSuccess > .message > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color:#F9F9FD;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.blockSuccess > button{
    margin-right:25px;
    padding-right:25px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #F57148;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .blockSuccess > button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }


  .blockDanger{
    display: flex;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height:100px;
    width:95%;
    background: linear-gradient(to right, #F62842 65%, #F77023 100%);
    box-shadow: 0px 10px 25px rgba(198, 117, 223, 0.45);
}

.blockDanger > img{
    margin:10px;
    margin-left: 50px;
    opacity: 0.65;
    height: 60px;
}

.blockDanger > .message {
    min-width:75%;
    margin-left:25px;
}

.blockDanger > .message > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color:white;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.blockDanger > .message > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color:#F9F9FD;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.blockDanger > button{
    margin-right:25px;
    padding-right:25px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #F77023;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .blockDanger > button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }




  .blockSuccess{
    display: flex;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height:100px;
    width:95%;
    background: linear-gradient(to right, #6D8589 40%, rgb(191, 221, 201) 100%);
    box-shadow: 0px 10px 25px rgba(198, 117, 223, 0.45);
}

.blockSuccess > img{
    margin:10px;
    margin-left: 50px;
    opacity: 0.65;
    height: 60px;
}

.blockSuccess > .message {
    min-width:75%;
    margin-left:25px;
}

.blockSuccess > .message > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color:white;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.blockSuccess > .message > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color:#F9F9FD;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.blockSuccess > button{
    margin-right:25px;
    padding-right:25px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #6D8589;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .blockSuccess > button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }


/*
===================================================================================================================
Cards
===================================================================================================================
*/
.slotBox{
    display: flex;
    width:95%;
    margin:10px;
    justify-content: space-between;
}

.slotBox-centered{
    display: flex;
    width:95%;
    margin:10px;
    justify-content: space-around;
}

.card-single{
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    width:450px;
    min-height: 350px;
    margin:5px;
    display: flex;
    flex-direction: column;
}

.card-single .amount{
    margin:25px 0px 5px 25px;    
   font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    letter-spacing: 2px;
    font-weight: 600;
    color:#333;
    text-shadow: 0px 5px 15px rgba(54, 54, 54, 0.2);
}

.card-single .deposit{
    margin:5px 0px 5px 25px;    
    font-family: 'Montserrat', sans-serif;
    color:#6D8589;
    font-size: 9pt;
    letter-spacing: 2px;
    font-weight: 600;
}

.card-single .intrest{
    margin:5px 0px 5px 25px;    
    font-family: 'Montserrat', sans-serif;
    color:#6eb9f7;
    font-size: 15   pt;
    letter-spacing: 2px;
    font-weight: 600;
}

.card-single .title{
    text-align: center;
    margin:20px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    letter-spacing: 2px;
    font-weight: 600;
    color:rgb(149, 170, 173);
}

.card-single .rate{
    text-align: center;
    margin:20px; 
    padding:10px;
    font-weight: 600;
}

.card-single .rate .circle{
    text-align: center;
    padding:25px;
    border-radius: 25%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20pt;
    letter-spacing: 2px;
    color:#FFCC11;
    font-weight: 600;
    background-color: rgba(245, 221, 83, 0.2);
}

.card-single .black-center-text{
    text-align: center;
    margin:20px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    letter-spacing: 2px;
    font-weight: 600;
    color:rgb(0, 0, 0);
}

.card-single .blue-center-text-small{
    text-align: center;
    margin:10px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 600;
    color:#6eb9f7;
    transition: 250ms;
}

.card-single .blue-center-text-small:hover{
    color:#0984e3;
    text-shadow: 0px 5px 13px rgba(218, 181, 253, 0.95);
}

.card-single > .task-list{
    display: flex;
    margin:10px;
}

.card-single > .task-list > .list{
    width:100%;
    margin:5px;
    min-height: 25px;
    padding:5px;
}   

.card-single > .task-list > .list > .list-line{
    display: flex;
    margin:20px;
    justify-content: space-between;
    transition: 250ms;
    font-family: 'Montserrat', sans-serif;
    color:#0984e3;
    text-shadow: 0px 5px 13px rgba(218, 181, 253, 0.95);
    font-size: 9pt;
    letter-spacing: 2px;
    font-weight: 600;
}

.card-single > .task-list > .list > .list-line-important{
    display: flex;
    margin:20px;
    justify-content: space-between;
    transition: 250ms;
    font-family: 'Montserrat', sans-serif;
    color:rgb(241, 207, 85);
    text-shadow: 0px 5px 13px rgba(214, 245, 165, 0.95);
    font-size: 9pt;
    letter-spacing: 2px;
    font-weight: 600;
}

.card-single > .task-list > .list > .list-line:hover{
    color:#5f5f5f;
    text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.95);
}

.card-single > .task-list > .list > .list-line-important:hover{
    color:#5f5f5f;
    text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.95);

}

.card-single-block{
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    width:100%;
    min-height: 350px;
    margin:5px;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-single-thin-block{
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    width:100%;
    min-height: 150px;
    margin:5px;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.card-single-thin-block > .title{
    text-align: left;
    margin:20px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    letter-spacing: 2px;
    font-weight: 600;
    color:rgb(149, 170, 173);
}

.card-single-thin-block > .content{
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}


/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px #0984e3;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}


/*
===================================================================================================================
Webkit
===================================================================================================================
*/

  ::-webkit-scrollbar
  {
    width: 6px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-track
  {
    background: #1abc9c; 
  }
  
  ::-webkit-scrollbar-thumb
  {
      background: #34495e;
  }



  /*
===================================================================================================================
Typographs
===================================================================================================================
*/

h1{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 30pt;   
    color:#8B94A5;
}


h2{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 25pt;   
    color:#8B94A5;
}

h3{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 20pt;   
    color:#8B94A5;
}


h4{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 15pt;   
    color:#8B94A5;
}


h5{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12pt;   
    color:#8B94A5;
}


h6{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12pt; 
    font-weight: 300;  
    color:#8B94A5;
}

.slim-text{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12pt; 
    font-weight: 300;  
    color:#8B94A5;
}

.slim-text-bold{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12pt; 
    font-weight: 800;  
    color:#8B94A5;
}

.slim-text-italics{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12pt; 
    font-style: italic;
    font-weight: 300;  
    color:#8B94A5;
}

.h2-thin{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 13pt;
    color:#8B94A5;
}

blockquote {
    background: #f9f9f9;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12pt; 
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

 blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

blockquote p {
    display: inline;
  }
  

  /*
===================================================================================================================
Table Styles
===================================================================================================================
*/

.cozyTableBasic {
    margin:10px;    
    width: 95%;
    background-color: #F9F9FD;
    font-family: 'Montserrat', sans-serif;
}

.cozyTableBasic h2{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 15pt;
    color:#8B94A5;
}

.cozyTableBasic table{
    width: 100%;
    box-shadow: 0px 8px 30px rgba(199, 98, 230, 0.2);
}

.cozyTableBasic tr{
    background-color: #F9F9FD;
    border: 0px solid #eee;
    transition: 150ms;
}

.cozyTableBasic td{
    font-family: 'Montserrat', sans-serif;
    color:rgb(121, 122, 128);
    letter-spacing: 1.5px;
    font-size: 10pt;
    text-align: left;
    padding:10px;
    padding-left: 15px;
    transition: 250ms;
}

.cozyTableBasic tr:hover{
    color:rgb(1, 2, 7);
    background-color:#fff;
}

.cozyTableBasic th {
    background-color: #fff;
    color:#0984e3;
    text-shadow: 0px 5px 15px rgba(218, 181, 253, 0.7);
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    padding: 15px;
    font-size: 12pt;
    text-align: left;
}

.cozyTableBasic {
    margin:10px;    
    width: 95%;
    background-color: #F9F9FD;
    font-family: 'Montserrat', sans-serif;
}

.cozyTableBasic h2{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    font-size: 15pt;
    color:#8B94A5;
}

.cozyTableBasic table{
    width: 100%;
    box-shadow: 0px 8px 30px rgba(199, 98, 230, 0.2);
}

.cozyTableBasic tr{
    background-color: #F9F9FD;
    border: 0px solid #eee;
    transition: 150ms;
}

.cozyTableBasic td{
    font-family: 'Montserrat', sans-serif;
    color:rgb(121, 122, 128);
    letter-spacing: 1.5px;
    font-size: 10pt;
    text-align: left;
    padding:10px;
    padding-left: 15px;
    transition: 250ms;
}

.cozyTableBasic tr:hover{
    color:rgb(1, 2, 7);
    background-color:#fff;
}

.cozyTableBasic th {
    background-color: #fff;
    color:#0984e3;
    text-shadow: 0px 5px 15px rgba(218, 181, 253, 0.7);
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    padding: 15px;
    font-size: 12pt;
    text-align: left;
}

/*
======================================================================================================================
Input Stlyes
======================================================================================================================
*/

.input-flat{
    margin:10px;
    padding: 10px;
    border: 1px solid #eee;
    width:500px;
    height:25px;
    /* box-shadow:
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); */
    /*background: rgba(228, 228, 228, 0.2);*/
    background: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
  }


  .select-flat{
    margin:10px;
    padding: 10px;
    border: 1px solid #eee;
    width:500px;
    height:50px;
    /* box-shadow:
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); */
    /*background: rgba(228, 228, 228, 0.2);*/
    background: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
  }

  .radio-flat{
    margin:10px;
    padding: 10px;
    border: 1px solid #eee;
    width:20px;
    height:20px;
    /* box-shadow:
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); */
    /*background: rgba(228, 228, 228, 0.2);*/
    background: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
  }

/*


/*
===================================================================================================================
Toast message
===================================================================================================================
*/

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fff;
    color:#3A87FF;
    text-shadow: 0px 5px 15px rgba(218, 181, 253, 0.7);
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 2;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0px 8px 30px rgba(199, 98, 230, 0.2);
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*
===================================================================================================================
Progress Bars
===================================================================================================================
*/

.progressBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 10px;
    margin:10px;
    align-items: center;
}

.progress-bar-holder{
    display: flex;
    margin: 0px;
    width: 80%;
    height: 15px;
    background-color: rgb(243, 242, 242);
    transition: all ease-in 350ms;
}

.progress-bar-filler{
    box-shadow: inset 0px 20px 45px -5px #0c7ace;
    margin: 0px;
    height: 15px;
    background-color: #0a8bee;
    transition: all ease-in 350ms;
}

.progress-bar-filler-green{
    margin: 0px;
    height: 15px;
    background-color: #0aee56;
}

.progress-bar-filler-mint{
    margin: 0px;
    height: 15px;
    background-color: #00b894;
}

.progress-bar-filler-river{
    margin: 0px;
    height: 15px;
    background-color: #636e72;
}

.progress-bar-filler-dracula{
    margin: 0px;
    height: 15px;
    background-color: #2d3436;
}

.btn-progress-cancel{
    width: 15vw;
    height: 40px;
    margin: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #0a8bee;
    background-color:  rgb(248, 248, 248);
    border: 0.2px solid #ddd;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-progress-cancel:hover {
    box-shadow: 0px 10px 25px rgba(216, 216, 216, 0.959);
    color: #fff;
    background-color: #e74c3c;
    transform: translateY(-1px);
}