/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700|Titillium+Web:300,400,600,700');

/* Font Family Rules 

font-family: 'Titillium Web', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

*{
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: row;
    margin:0px;
}

.container{
    display: flex;
    flex-direction: row;
}

.addRow{
    display:flex;
    flex-direction: row;
    height: 75px;
    margin-top:10px;
}

.split-left{
    display: flex;
    background-image:  linear-gradient(
        rgba(72,58,146,0.8),
        rgba(158,58,109,0.25),
        rgba(243,59,71.0,0.6)),
        url('https://picsum.photos/1920/1080/?random');
    min-width: 60vw;
    min-height:100vh;
    height:100%;
}

.split-right{
    display: flex;
    flex-direction:column;
    min-width: 40vw;
    min-height:100vh;
    height:100%;
}


.split-right > .inner-container{
    margin:50px 10px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floor{
    position: fixed;
    bottom:0;
    left:0;
    background-color: rgba(255,255,255,0.1);
    width: 100%;
}

/* 
==============================================================================================================================================================================
==============================================================================================================================================================================
==============================================================================================================================================================================
Button Stlyes 
==============================================================================================================================================================================
==============================================================================================================================================================================
==============================================================================================================================================================================
*/

.btn{
    margin: 10px;
}

.btnBlue {
    width: 250px;
    height: 45px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(to right, #67A2FF 0%, #3A87FF 75%, #2178FF 100%);
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .btnBlue:hover {
    box-shadow: 0px 10px 25px rgba(199, 98, 230, 0.2);
    transform: translateY(-1px);
  }

  .btnInvert {
    width: 250px;
    height: 45px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #2F80FF;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px rgba(122, 124, 252, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
  }
  
  .btnInvert:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 25px rgba(199, 98, 230, 0.2);
  }

 /* 
==============================================================================================================================================================================
==============================================================================================================================================================================
==============================================================================================================================================================================
==============================================================================================================================================================================
Input Stlyes 
==============================================================================================================================================================================
==============================================================================================================================================================================
==============================================================================================================================================================================
*/

  .input-flat{
    margin:10px;
    border: 1px solid #eee;
    width:500px;
    height:30px;
    /* box-shadow:
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); */
    padding: 10px;
    /*background: rgba(228, 228, 228, 0.2);*/
    background: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
  }

/* 
==============================================================================================================================================================================
==============================================================================================================================================================================
==============================================================================================================================================================================
==============================================================================================================================================================================
Typo Stlyes 
==============================================================================================================================================================================
==============================================================================================================================================================================
==============================================================================================================================================================================
*/

.center{
    text-align: center;
}

.head{
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    font-size: 25px;
    letter-spacing: 2.5px;
    font-weight: 800;
    margin:10px;
    margin-bottom:0px;
}

.slogan{
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 200;
    display: flex;
    margin:10px;
}

.slim{
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 200;
    position: absolute;
    bottom:0;
    right:0;
    padding-right: 15vw;
}

.trademark{
    font-family: 'Titillium Web', sans-serif;
    color: #000;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 600;
}

a{
    text-decoration: none;
    transition: color ease-out 150ms;
}

a:hover{
    color:#67A2FF;
}
